name: Automated API Tests

on:
  push:
  pull_request:
  schedule:
    # 每两个小时执行一次（在每小时的第0分钟）
    - cron: '0 */2 * * *'
  workflow_dispatch:  # 允许手动触发

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Node.js environment
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Install Apifox CLI
      run: npm install -g apifox-cli

    - name: Running Test Scenario
      run: apifox run --access-token APS-mKvUULipfrvxgmuHd2tDXLASDxDNkg6d -t 7740512 -e 40692630 -n 1 -r html,cli
